@{
    ViewBag.Title = "O nama";
}
<div class="content">
<div class="naslov">
    <h1>O nama</h1>
</div>
<div class="blok">
    <p>PINN BET je od početka brzo rastao, sazrevao i razvijao se, i za kratko vreme uspeo da postane ne samo konkurentan, već da stane uz rame sa najjačima u svojoj branši – organizaciji sportskog klađenja.</p> 
    <p>
       
        Sada PINN BET ima više od 150 poslovnica širom Srbije, u kojima ima mnogo toga da ponudi. Za kratko vreme smo stekli vaše poverenje zahvaljujući osnovnom postulatu poslovanja – igrač je uvek na prvom mestu!

        Učinili smo sve da se u PINN BET lokalima osećate prijatno i komforno. Svaki naš prostor je uređen sa ukusom, a ljubazno i stručno osoblje nastoji da vam boravak učini što lagodnijim. Bogato iskustvo i znanje sticano i van granica Srbije visokostručna grupa bukmejkera i trejdera omogućava igračima obimnu ponudu sa izuzetno velikim kvotama.

        Osim toga, korisnici naših usluga već su navikli i brojne druge pogodnosti prilikom klađenja poput brze isplate, najvećih bonusa, dodatnih bonusa u HAPPY HOUR periodu, kombinovanja redovne sa LIVE ponudom, slobodne igre…

        Pored uobičajenog sportskog klađenja, pred igračima su i popularne igre sa brojevima – „Grčki kino“ i „Lucky G“. Takođe, za ljubitelje igara na automatima, nudimo širok spektar najmodernijih aparata. Kako bi, ionako sjajna saradnja bila unapređena, PINN BET insistira na međusobnoj interakciji sa igračima.
    </p>
</div>
</div>
