@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Galerija";
}

<div class="slika">
    <img src="~/images/1.jpg" />
</div>
<div class="slika">
    <img src="~/images/2.jpg" />
</div>
<div class="slika">
    <img src="~/images/3.jpg" />
</div>
<div class="slika">
    <img src="~/images/4.jpg" />
</div>
<div class="slika">
    <img src="~/images/5.jpg" />
</div>
<div class="slika">
    <img src="~/images/6.jpg" />
</div>
<div class="slika">
    <img src="~/images/7.jpg" />
</div>
<div class="slika">
    <img src="~/images/8.jpg" />
</div>