@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "Kockarnica pin bet koja se nalazi na periferiji novog sada online kladjenje,kafic,igre";
    ViewBag.Keyworids = "Kladjenje,kockarnica,rulet,lucky 6,kafic";
}

<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Pin<span>Bet</span></a></h1>
            <p>Novi Sad</p>
        </div>
    </div>
</div>
<div id="banner"><a href="#" class="img-style"><img src="~/images/img04.jpg" width="1000" height="350" alt="" /></a></div>
<div id="wrapper">
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Odgovorno kladjenje</a></h2>
                        <p class="meta"><span class="date">Januar 15, 2013</span><span class="posted">Postavio <a href="#">Polic Dejan</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p>Zašto volite da se kladite? Da li volite uzbuđenje koje ono u sebi nosi? Ili volite da se takmičite? ili je klađenje Vaš beg od problema? Ili, možda, u klađenju vidite izvor zarade?</p>
                            <p>Ako ste pozitivno odgovorili na bar jedno od poslednja dva pitanja, imate problem ili ćete ga uskoro imati. Zato Vas molimo da savete iz ovog teksta ne samo pročitate, već i primenite.</p>
                            <p class="links"><a href="#" class="button">Procitaj vise</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="button">Ostavi Komentar</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <h2 class="title"><a href="#">Zakon verovatnoće</a></h2>
                        <p class="meta"><span class="date">Januar 15, 2013</span><span class="posted">Postavio <a href="#">Polic Dejan</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p>Zakon verovatnoće je čudesna stvar. On kaže da je podjednako verovatno da ćeš, ako 99 puta baciš dinar u vazduh i svaki put padne pismo, za stoto bacanje i dalje imati 50 odsto šanse da dobiješ isto kao i prethodnih 99 puta. S druge strane, zakon takođe kaže da je verovatnoća da će rezultat 100 bacanja biti 100 puta pismo – mnogo, mnogo manja od ovih 50 odsto. Da se i izračunati: kome to nešto znači, nek prevodi u procente cifru od 1 prema 1.27E+30.  </p>
                            <p class="links"><a href="#" class="button">Procitaj vise</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="button">Ostavi komentar</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <h2 class="title"><a href="#">Problem sa patološkim kockanjem </a></h2>
                        <p class="meta"><span class="date">Januar 08, 2013</span><span class="posted">Postavio<a href="#">Polic Dejan</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p>Patološko kockanje jeste problem pojedinca, međutim, svako ko u svojoj porodici ima nekoga sa ovim problemom zna da vrlo brzo patološko kockanje postaje porodični problem. Porodici je često i pre toga često bilo vrlo jasno da njihov član ima problema sa kockom, ali nisu mogli znati šta je tačno u pitanju. Ukoliko još uvek niste saznali o čemu je reč, ali imate određene sumnje, u narednom tekstu predstavićemo Vam najčešće i najuočljivije znakove postojanja problema patološkog kockanja. </p>
                            <p class="links"><a href="#" class="button">Procitaj vise</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="button">Ostavi komentar</a></p>
                        </div>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->
                <div id="sidebar">
                    <ul>
                        <li>
                            <h2>Pretrazi ovde:</h2>
                            <div id="search">
                                <form method="get" action="#">
                                    <div>
                                        <input type="text" name="s" id="search-text" value="" />
                                        <input type="submit" id="search-submit" value="" />
                                    </div>
                                </form>
                            </div>
                            <div style="clear: both;">&nbsp;</div>
                        </li>
                        <li>
                            <h2>Obavestenje</h2>
                            <p>Zbog pandemije radno vreme pin beta od <b>6h - 15h</b>.</p>
                        </li>
                        <li>
                            <h2>Kategorije</h2>
                            <ul>
                                <li><a href="#">Rulet</a></li>
                                <li><a href="#">Slot</a></li>
                                <li><a href="#">Loptice</a></li>
                                <li><a href="#">Trke pasa</a></li>
                                <li><a href="#">Kafic</a></li>
                                <li><a href="#">Menjacnica</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Kafic</h2>
                            <ul>
                                <li><a href="#">Izvrsni konobari</a></li>
                                <li><a href="#">Brza usluga</a></li>
                                <li><a href="#">Fiskalni racun</a></li>
                                <li><a href="#">Kes</a></li>
                                <li><a href="#">Kartica</a></li>
                                <li><a href="#">Sirok asortiman pica</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Bilijar</h2>
                            <ul>
                                <li><a href="#"></a>Snuker</li>
                                <li><a href="#">Cena zetona</a></li>
                                <li><a href="#">Instruktori</a></li>
                                <li><a href="#">Povracaj novca</a></li>
                                <li><a href="#">Depozit</a></li>
                                <li><a href="#">Pravila igre</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- end #sidebar -->
                <div style="clear: both;">&nbsp;</div>
            </div>
        </div>
    </div>
    </div>